<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/css/global.css" />
	<script src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block additional_css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
	<header class="site-header">
		<div class="site-header__inner">
			<div class="site-header__brand">
				<div class="site-header__brand-link">
					<div class="site-header__brand-icon circle-white">
						<img src="/static/assets/logo.png" class="logo" />
					</div>
					
					<a class="site-header__brand-name" href="/">RefraScan</a>
				</div>
				
				<a class="site-header__about-link link" href="/about-the-study">About the Study</a>
			</div>
			
			<div class="site-header__nav">
				{% if session.get('user_id') %}
					<!-- Logged In Links -->
					<a class="site-header__nav-link" href="/patient-records">Patient Records</a>
					<a class="site-header__nav-link" href="/inference-history">Inference History</a>
					<a class="site-header__nav-link" href="/logout">Logout</a>
				{% else %}
					<!-- Logged Out Links -->
					<a class="site-header__nav-link" href="/login">Login</a>
					<a class="site-header__nav-link" href="/register">Register</a>
					<a class="site-header__nav-link" href="/forgot-password">Forgot Password</a>
				{% endif %}
			</div>

			<!-- Mobile Toggle Button (Visible < 610px) -->
			<button type="button" class="site-header__mobile-toggle" id="menuToggle" aria-label="Toggle navigation">
				<span class="hamburger-bar"></span>
				<span class="hamburger-bar"></span>
				<span class="hamburger-bar"></span>
			</button>
		</div>
	</header>
    
    <div class="main-body">
	{% block main %}{% endblock %}
    </div>
</body>

</html>